<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Django CRUD app </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/menu.css' %}">
</head>
<body>

    <nav class="cont-menu">
        <div class="menu">
            <div class="circule">
            </div>
            <div>
                <a href="/">Inicio</a>
            </div>
            <div>
                <a href="#">Perfil</a>
            </div>
            <div>
                <a href="#">Servicios</a>
            </div>
            <div>
                <a href="/choose">Vehiculos</a>
            </div>
            <div>
                <a href="#">Contacto</a>
            </div>
            <div>
                <a href="/tasks">Tasks</a>
            </div>
            
            {% if user.is_authenticated %}
            <div class="logout">
                <a href="/logout"><img src="{% static 'images/cerrar-sesion.png' %}" alt=""></a>
            </div>

            {% else %}

            <div>
                <a href="/signup">Signup</a>
            </div>
            <div>
                <a href="/signin">Signin</a>
            </div>

            {% endif %}
            
        </div>
    </nav>
    
    {% block content %}
    {% endblock %}

</body>
</html>
