{% extends 'base.html' %}


{% block content %}
<h1>home</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis voluptas nisi, quaerat fuga numquam rem dicta esse. Quibusdam expedita quisquam exercitationem dolore sunt nesciunt eum rerum eveniet corporis magni vel quod odit, laboriosam tempora eaque nulla ipsam officia tenetur modi sed quidem perspiciatis et culpa voluptas? Officia in, molestias exercitationem nesciunt quod impedit sint ratione voluptatum perferendis consequatur, quo nam quasi velit nihil qui ipsa iusto repellat! Rerum vitae officia ipsam? Necessitatibus est ad rem id, mollitia asperiores facere maiores facilis quidem ipsam optio eius sit ipsum minima ducimus voluptatibus in eos deleniti aliquid. Commodi sed quam officiis quasi dignissimos?</p>
{% endblock %}