{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="conteiner-all-home">
        <div class="conteiner-color-home">
            <div class="conteiner-text-home">
                <div><img src="{% static 'images/iconoproyecto.png'%}" alt=""></div>
                <div class="drive-home">DRIVENOW</div>
                <div class="des-home">RENTA TU VEHICULO YA</div>
            </div>
            <div class="button-home"><a href="/tasks"><button>Inicia ahora</button></a></div>
        </div>
    </div>
</body>
</html>
{% endblock %}
