{% extends 'base.html' %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="conteiner-all-inventario">
      <div class="conteiner-invflex">
        <div class="conteiner-inventario">
          <div class="menu-right">
            <div class="menu-title">Inventario</div>
            <div class="options">Categorias</div>
            <form method="POST" action="">
              {% csrf_token %}
              <div class="conteiner-buttons">
                <div><button type="submit" name="my_button" value="1"><img src="{% static 'images/carro.jpg' %}" alt=""></button></div>
                <div><button type="submit" name="my_button" value="2"><img src="{% static 'images/moto.jpg' %}" alt=""></button></div>
                <div><button type="submit" name="my_button" value="3"><img src="{% static 'images/suv.jpg' %}" alt=""></button></div>
                <div class="button-all"><button type="submit" name="my_button" value="">Todos</button></div>
              </div>
            </form>
          </div>
          <div class="inventario">
          {% for inventario in inventario %}
          {% if inventario.categoria_id %}
          <div class="section-item">
            <div class="item-image"><img src="../media/{{ inventario.Imagen }}" alt="{{ inventario.Imagen }}"></div>
            <div class="item-name">{{ inventario.nombre}}</div>
            <div class="item-price">{{ inventario.precio }}</div>
            <div class="button-go-detalles"><a href="{% url 'detalle' inventario.slug %}"><button> Detalles</button></a></div>
            <div class="button-go"><button>Llevar</button></div>
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
</body>
</html>
  {% endblock %}