{% extends 'base.html' %}


{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body class="body-profile">
    <div class="conteiner-profile-all">
        <div class="conteiner-profile-info">
            {% for profiles in profiles %}
            {% if profiles.user_id %}
            <div class="conteiner-int-profile">
                <div class="foto-profile"><img src="../media/{{ profiles.Imagen }}" alt="{{ profiles.Imagen }}"></div>
                <div class="names-info">@{{ user.username }}</div>
            </div>
            <div class="infor-profile">
                <div class="names">
                    <div>{{ profiles.nombre }} {{ profiles.apellido }}</div>
                </div>
                <div class="infor-per">
                    <div class="celu">
                        <div style="margin: 10px;"><p class="title">Celular:</p><p>{{ profiles.celular }}</p></div>
                    <div style="margin: 10px;"><p class="title">Pais:</p><p>{{ profiles.pais }}</p></div>
                    <div style="margin: 10px;"><p class="title">Ciudad:</p><p>{{ profiles.ciudad }}</p></div>
                    </div>
                    
                <div class="passport">
                <div class="passport">
                    <div style="margin: 10px;"><p class="title">Celular:</p><p>{{ profiles.celular }}</p></div>
                    <div style="margin: 10px;"><p class="title">Pais:</p><p>{{ profiles.pais }}</p></div>
                </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <div class="conteiner-profile-form">
            <form action="#" method="POST">
    
                {{form.as_p}}
        
            </form>
        </div>
    </div>
</body>
</html>

{% endblock %}