{% extends 'base.html' %}


    {% block content %}
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <div class="conteiner-tasks">
        <div class="frame">
            <ul>
                <li><img src="{% static 'images/slide/audi.jpg'%}" alt=""></li>
                <li><img src="{% static 'images/slide/bmw.jpg' %}" alt=""></li>
                <li><img src="{% static 'images/slide/mazdarx.jpg' %}" alt=""></li>
                <li><img src="{% static 'images/slide/mercedes.jpg' %}" alt=""></li>
            </ul>
        </div>
        <div class="conteiner-text">
            <div class="text-task"><p style="font-size: 40px; color: white; margin-bottom: 10px; ">A TU ALCANCE</p></div>
            <div class="text-task"><p style="font-size: 60px; color: white; font-weight: 700; margin-bottom: 8%;">YA PUEDES RENTAR TU VEHICULO</p></div>
            <div><a href="/choose" style="text-decoration: none;"><div class="button-task">VAMOS POR LA AVENTURA!</div></a></div>
        </div>
    </div>
</div>
</body>
</html>
    {% endblock %}

